.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 1px;
}

.addButton {
    background-color: var(--button-bg-color);
    /* Brand color for add button */
    color: var(--primary-text-color);
}

.addButton:hover {
    background-color: var(--button-hover-bg-color);
}

.editButton {
    background-color: var(--button-bg-color);
    /* Brand color for add button */
    color: var(--primary-text-color);
}

.editButton:hover {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
    border: 1px solid;
    box-shadow: inset 0 0 40px var(--button-bg-color), 0 0 20px var(--button-hover-bg-color);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 20px;
}

.cancelButton {
    background-color: var(--cancel-button-bg-color);
    /* Grey cancel button */
    color: var(--primary-text-color);
}

.cancelButton:hover {
    background-color: var(--cancel-button-hover-bg-color);
}

.saveButton {
    background-color: var(--button-bg-color);
    /* Brand color for save button */
    color: var(--primary-text-color);
}

.saveButton:hover {
    background-color: var(--button-hover-bg-color);
}

.deleteButton {
    background-color: var(--cancel-button-bg-color);
    /* Grey delete button */
    color: var(--primary-text-color);
}

.deleteButton:hover {
    background-color: var(--cancel-button-hover-bg-color);
}

