/* import this file and can use like var(--primary-bg-color) in other css files */
:root {
    --dark-bg-color: #121212;
    --primary-bg-color: #333333;
    --input-bg-color: #4A4A4A;
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --button-bg-color: #E10000;
    --button-hover-bg-color: #b71c1c;
    --cancel-button-bg-color: #757575;
    --cancel-button-hover-bg-color: #616161;

    /* Table */
    --table-dark-bg-color: #121212;
    --table-header-bg-color: #1E1E1E;
    --table-bg-color: #333333;

    --table-odd-rows-color: #1A1A1A;
    --table-even-rows-color: #242424;
    --table-row-hover-bg-color: #333333;
    --table-border-color: #333333;
    --table-text-color: #FFFFFF;
}
