@import './colours.module.css';

.container {
    /* padding: 20px; */
    background-color: var(--dark-bg-color);
    color: var(--primary-text-color);
}

.header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

.button {
    background-color: var(--button-bg-color);
    color: var(--primary-text-color);
    padding: 10px 20px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 1px;
}

.cancelButton {
    background-color: var(--cancel-button-bg-color);
    /* Gray cancel button */
    color: var(--primary-text-color);
    font-weight: bold;
    padding: 8px 12px;
    border: var(--button-hover-bg-color);
    border-radius: 16px;
    margin-bottom: 8px;
}

.cancelButton:hover {
    background-color: var(--cancel-button-hover-bg-color);
    border: 1px solid;
  }