@import './colours.module.css';
.tabContainer {
    margin: 0 auto;
    margin: 16px;
    margin-bottom: 0px;
    background-color: #121212;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.tabRoot {
    color: #ffffff;
    transition: color 0.1s ease;
}

.selectedTab {
    color: #E10000 !important;
}

.unselectedTab {
    color: var(--primary-text-color) !important;
}

.hoverTab:hover {
    color: white !important;
}

.tabIndicator {
    background-color: #E10000 !important;
}